body {
  max-width: 100%;
  max-height: 100%;
}

.gridContainer {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;

  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(25, 1fr);
  grid-gap: 2px;
  background-color: grey;
  line-height: calc(100vh / 25);
  font-size: 0px;
}

.back {
  grid-column: auto / span 10;
  font-size: 24px;
  color:white;
  border: solid;
  border-width:1px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  align-self: center;
}

.back:hover {
  cursor: pointer;
}

div {
  display: block;
  position: relative;
  top: 33vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  line-height: calc(95vh / 14)
}

div:hover {
  cursor: pointer;
}

td:hover {
  cursor: pointer;
  filter: saturate(200%);
}

.providence {
  grid-row-start:1;
  grid-column-start:1;
  grid-column-end:8;
}

.miami {
  grid-row-start:2;
  grid-column-start:1;
  grid-column-end:8;
}

.washington {
  grid-row-start:3;
  grid-column-start:1;
  grid-column-end:8;
}

.sanfrancisco {
  grid-row-start:4;
  grid-column-start:1;
  grid-column-end:8;
}

p {
  display: block;
  color:white;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 0 24px;
}

.gridItem {
  display: inline-block;
  max-width: 24px;
  max-height: 24px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: black;
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 12px;
  box-sizing: border-box;
  align-self: center;
}

.freeze {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: rgb(96,124,162);
  background-size: cover;
  text-align: center;
  color: #e1ded7;
  border-radius: 5px;
}

.cold {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: rgb(131,176,190);
  background-size: cover;
  text-align: center;
  color: #e1ded7;
  border-radius: 5px;
}

.cool {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: rgb(157,188,124);
  background-size: cover;
  text-align: center;
  color: #e1ded7;
  border-radius: 5px;
}

.warm {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: rgb(247,170,114);
  background-size: cover;
  text-align: center;
  color: #e1ded7;
  border-radius: 5px;
}

.hot {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: rgb(240,128,128);
  background-size: cover;
  text-align: center;
  color: #e1ded7;
  border-radius: 5px;
}

.burn {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: rgba(223,28,68,0.7);
  background-size: cover;
  text-align: center;
  color: #e1ded7;
  border-radius: 5px;
}

@media screen and (max-width:700px) {
  .gridContainer {
    line-height: 24px;
    height:100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(30, 1fr);
  }
  p {
    font-size: 12px;
    padding: 0 8px;
  }
  .back {
    grid-column: auto / span 7;
    font-size: 10px;
  }
}

@media screen and (min-width:1100px) {
  .gridContainer {
    line-height: calc(95vh / 14);
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(14, 1fr);
  }
  .back {
    grid-column: auto / span 13;
  }
}
